.item {
  img {
    height: 150px;
  }
  p {
    padding-left: 30px;
    color: #a33;
    font-weight: 700;
    text-align: left;
  }
  border: 1px solid ghostwhite;
  border-radius: 4px;
  h2 {
    height: 40px;
  }
}